bcrypt==4.0.1
cffi==1.15.1
distlib==0.3.6
filelock==3.12.2
iniconfig==2.0.0
packaging==23.1
platformdirs==3.7.0
pluggy==1.2.0
pycparser==2.21
pyperclip==1.8.2
pytest==7.4.0
stdiomask==0.0.6
virtualenv==20.23.1
